<div class='toolbar order-links'>
  <%= button_link_to t("resend"), resend_admin_order_url(@order), :method => :post, :icon => 'send-email' %>
  <%= event_links %>
</div>

<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Order Details"} %>

<%= render :partial => 'admin/shared/order_details', :locals => {:order => @order} -%>


<div class='adr'>
  <% if ! @order.creditcard_payments.empty? %>
    <h4><%= link_to t('bill_address'), edit_admin_order_creditcard_payment_url(@order, @order.creditcard_payments.last) %></h4>
    <%= render :partial => 'admin/shared/address', :locals => {:address => @order.creditcard_payments.last.address} %>      
  <% elsif ! @order.user.addresses.empty? %>
    <h4><%= t('bill_address') %> (<%= t('provisional') %>)</h4>
    <%= render :partial => 'admin/shared/address', :locals => {:address => @order.user.addresses.last} %>      
  <% else %>
    <h4><%= t('bill_address') %></h4>
    <p><%= t('bill_address') %> <%= t('is_not_set_yet') %></p>
  <% end %>
</div>
<div class='adr'>
  <% if @order.ship_address %>
    <h4><%= link_to t('ship_address'), edit_admin_order_shipment_url(@order, @order.shipment) %></h4>
    <%= render :partial => 'admin/shared/address', :locals => {:address => @order.ship_address} %>      
  <% else %>
    <h4><%= t('ship_address') %></h4>
    <p><%= t('ship_address') %> <%= t('is_not_set_yet') %></p>
    <p>
  <% end %>
</div>
<hr />


<% if @order.user %>
  <table class="index">
    <tr>
      <th><%= t("email") %></th>
    </tr>
    <tr>
      <td><%= @order.user.email if @order.user %></td>
    </tr>
  </table>
<% end %>

<h4><%= t('history') %></h4>

<table class="index">
  <tr>
    <th><%= t("event") %></th>
    <th><%= t("user") %></th>
    <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
  </tr>
  <% @order.state_events.sort.each do |event| %>
    <tr>
      <td><%=t("#{event.name}") %></td>
      <td><%=event.user.email if event.user %></td>
      <td><%=event.created_at.to_s(:date_time24) %></td>
    </tr>
  <% end %>
  <% if @order.state_events.empty? %>
    <tr>
      <td colspan="3"><%= t("none_available") %></td>
    </tr>
  <% end %>
</table>
